@import url('https://fonts.googleapis.com/css?family=Inconsolata');

:root {
  --left-header: #ffbf00;
  --right-header: #00abff;
  --vertical-margin: 5em;
  --alt-font-color: #1d1d1d;
}

body {
  background-color: black;
  font-family: sans-serif;
  color: white;
  overflow-x: hidden;
}

.alt-font {
  font-family: 'Inconsolata';
}

.alt-background {
  background-color: #121212;
}

.card {
  border-radius: 0px;
}

.between-padding {
  padding: 3em 0;
}

.section-title {
  background-image: linear-gradient(60deg, #272727, var(--alt-font-color));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 75px;
  z-index: -1;
  text-align: center;
  font-weight: 800;
}

.section-title-wrapper {
  margin-bottom: 3em;
}

.section-description {
  color: #aeaeae;
}

/* Navbar */

.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  padding: 0.5em;
  background-color: rgb(0, 0, 0, 0.5);
}

.l {
  color: var(--right-header);
}

.g {
  color: var(--left-header);
}

.logo {
  margin: 0;
  font-weight: bold;
  display: inline;
  margin-right: 0.5em;
}

.nav-container a {
  color: white;
  font-family: 'Inconsolata';
  font-size: 17px;
  text-decoration: none;
}

.nav-container a:hover {
  color: var(--left-header);
}

.github-icon {
  margin-left: 0.5em;
}

#projects-nav,
#contact-nav {
  margin-left: 0.3em;
}

/* Intro */

.header-container {
  position: relative;
}

.header-container .row {
  height: 100vh;
  background-color: var(--right-header);
}

.hello {
  padding-right: 5px;
}

.Typewriter__cursor {
  color: var(--left-header); /* Override typewriter-effect color */
}

.border-right {
  border-right: 2px dotted rgb(255, 255, 255, 0.5);
}

.headshot {
  border-radius: 50%;
  max-height: 500px;
}

.intro h5 {
  font-weight: 300;
}

.my-name {
  font-size: calc(40px + 4.3vw);
  font-weight: bold;
  letter-spacing: -2.5px;
}

.down-arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  color: rgba(255, 255, 255, 0.7);
}

/* About Me */

.about-me-row {
  position: relative;
}

.about-me-section-col {
  padding: 0 2em;
}

.about-me-section-title {
  font-weight: 200;
  margin-bottom: 1.5em;
}

.about-me-section-text {
  line-height: 30px;
  color: #c4c4c4;
}

.about-me-section-text strong {
  color: white;
}

.certificate {
  color: white;
}

.certificate:hover {
  color: var(--left-header);
}

/* Skills Badges */

.badge-pill {
  border-radius: 10em;
  padding: 0.75em 1em;
  margin: 0.25em;
  font-size: small;
  font-weight: 600;
}

.javascript {
  background-color: rgb(240, 219, 79);
  color: black;
}

.react {
  background-color: rgb(97, 219, 251);
  color: black;
}

.node {
  background-color: #82cc2a;
  color: black;
}

.express {
  background-color: rgb(130, 130, 130);
}

.graphql {
  background-color: rgb(224, 3, 151);
}

.apollo {
  background-color: rgb(118, 74, 188);
}

.mongodb {
  background-color: rgb(63, 160, 55);
}

.mongoose {
  background-color: rgb(125, 28, 10);
}

.material-ui {
  background-color: #05affe;
}

.html {
  background-color: rgb(240, 101, 41);
}

.css {
  background-color: rgb(41, 101, 241);
}

.mern-stack,
.fullstack,
.frontend,
.backend {
  background-color: rgb(249, 65, 68);
}

.bootstrap {
  background-color: #8e0bfc;
}

.bulma {
  background-color: #07caac;
  color: black;
}

.api {
  background-color: rgb(87, 170, 212);
}

.handlebars {
  background-color: rgb(230, 135, 53);
}

.mysql {
  background-color: rgb(0, 117, 143);
}

.sequelize {
  background-color: rgb(77, 172, 235);
}

.local-storage {
  background-color: rgb(140, 179, 162);
}

.default-pill {
  background-color: rgb(203, 225, 245);
  color: black;
}

/* Projects */

#projects {
  margin-bottom: var(--vertical-margin);
  margin: 0 4em;
}

.project-img-wrapper {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}

.img-overlay {
  position: absolute;
  bottom: 0;
  padding: 0.5em 1em;
  display: flex;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

.project-title {
  color: white;
  font-weight: bold;
  font-size: calc(10px + 1vw);
}

.modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  box-shadow: 24px;
  padding: 2em;
  background-color: black;
  max-width: 50%;
  min-width: 200px;
  overflow: auto;
  max-height: 100%;
}

#projects-title {
  left: -41px;
  bottom: -117px;
}

.project-card {
  background-color: transparent;
  margin: 0em 1.5em;
}

.project-border {
  border-radius: 0px;
  border: 5px solid lightgray;
  padding: 3em;
}

#projects .card-img-top {
  border-radius: 0px;
}

.projects .fa-ul {
  margin: 0em 0em 0em 1.5em;
}

.featured-project {
  position: relative;
  box-sizing: content-box;
  border-width: 5px;
  border-style: solid;
  border-color: lightgray;
  border-image-slice: 1;
  padding: 1.5em;
  margin: 0em 1.5em var(--vertical-margin) 1.5em;
}

.project-card {
  margin-bottom: var(--vertical-margin);
}

.project-card .text-left li {
  display: inline;
  margin-right: 2em;
}

.project-card .text-right li {
  display: inline;
  margin-left: 2em;
}

.project-icons-container {
  position: absolute;
  bottom: 30px;
  left: 5px;
}

.project-icons-container a {
  padding: 0em 0.25em;
  color: black;
}

.project-icons-container .light {
  color: white;
}

.project-icons-container a:hover {
  color: var(--right-header);
  text-decoration: none;
}

.project-img-container {
  position: relative;
  margin-bottom: 0.75em;
}

/* Contact */

#contact-title {
  right: 1%;
  bottom: -89px;
}

#contact .row {
  padding: 0em 2em;
}

.resume-download {
  color: var(--right-header);
  text-decoration: none;
}

.resume-download:hover {
  color: var(--left-header);
  text-decoration: none;
}

.form-control {
  border-radius: 0px;
}

.send-message {
  border-radius: 0;
  background-color: var(--right-header);
  padding: 0.5em 1em;
  border: 0px solid transparent;
  color: white;
}

.send-message:hover {
  background-color: var(--left-header);
  color: white;
}

/* Footer */

.copyright {
  color: gray;
}

/* Bootstrap md */
@media screen and (max-width: 767px) {
  .about-me-excerpt {
    padding: 0em 2em;
  }

  .my-name {
    margin-bottom: 0.5em;
  }
}

/* Bootstrap lg */
@media screen and (max-width: 991px) {
  .header-container .row {
    padding: 0 2em;
  }

  .border-right {
    border-right: 0px solid transparent;
  }

  .project-card {
    padding: 2em;
  }
}
